// Identifiers

$block: 'resourcePlanner';

$elDayColumn: 'dayColumn';
$elWeekColumn: 'weekColumn';
$elDayIndicator: 'dayIndicator';
$elFirstColumn: 'firstColumn';

$modNotInMonth: 'notInMonth';
$modDay: 'day';
$modToday: 'today';
$modNum: 'num';
$modClickable: 'clickable';

// Colors

$color-today: #def4ff;
$color-not-this-month: #e0e0e0;
